body {
  padding-top: 5em;
  display: flex;
  justify-content: center;
  background-color:darkgrey;
}

.fouro h1 {
  color: black;
  font-family: monospace;
  overflow: hidden; 
  white-space: nowrap;
  margin: 0 auto; 
  letter-spacing: .16em; 
}

h1 {
  position: relative;
  line-height:1;
  bottom:100px;
  left:94px;
}

#danger {
  position: relative;
  line-height:2;
  left:56px;
  bottom:45px;
  filter: drop-shadow(0 0 0.75rem #72757e);
}

.notf {
  color:white;
  font-family:monospace;
  position: relative;
  top:-112px;
  left:23px;
}

.notft {
  color:white;
  font-family:monospace;
  position: relative;
  top:-120px;
  left:-60px;
  letter-spacing: .16em;
}

.fourom {
  position: relative;
  left:169px;
  text-shadow: 2px 2px 5px black;
}

.fade-btn {
  height:50px;
  width:120px;
  background-color: transparent;
  border-color:black;
  border-radius:6px;
  border-width:2px;
  position:relative;
  right:256px;
  top:220px;
}

.fade-btn:hover {
  background-color:black;
  color:darkgrey;
}

#ghost {
  position:relative;
  top:167px;
  left:-45px;
  color:white;
  text-shadow: 2px 2px 5px black;
}

.goh {
  height:50px;
  width:120px;
  background-color: transparent;
  border-color:black;
  border-radius:6px;
  border-width:2px;
  position:relative;
  right:230px;
  top:220px;
}

.goh:hover {
  background-color:black;
  color:darkgrey;
}